@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');
body {
    color: black;
    font-size: 15px; 
    font-weight: 400;
    text-align: left;
    font-family: 'Lato', sans-serif;
 }

 p{
    font-family: 'Lato', sans-serif;
}
 h1{
    font-size: 50px;
    font-weight: 600;
    color: black;
    font-family: 'Raleway', sans-serif;

 }
h2{
    color: rgb(3, 187, 162);
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
}
 img{
    max-width: 100%;
    border: 2px solid rgb(3, 187, 162);
 }

 a{
    color: rgb(3, 187, 162);
    text-decoration: none;
  }
 a:hover {
    color: rgb(3, 150, 130);
}
