@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');

body {
    color: black;
    font-family: 'Lato', sans-serif;
    font-size: 15px; 
    font-weight: 400;
    text-align: center;
 }

 h1{
    font-size: 45px;
    font-weight: 600;
    color: black;
 }
h2{
    color: black;
    font-size: 30px;

}
 img{
    max-width: 100%;
    height: auto;
    display: inline-block;
 }